@font-face {
    font-family: toon;
    src: url('../ToontownMenu/Fonts/toonti.ttf');
}

html, body {
    font-family: toon !important;

    background-image: url('../ToontownMenu/Main Menu/Menu SPlats.png');
    background-size: auto;
}

h1 {
    color: white !important;
    text-shadow:  4px 4px black;
    font-size: 40px !important;
}